In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Codrington,AU,2021-04-11 02:23:40,-38.2667,141.9667,54.99,60,100,21.03
1,1,Punta Arenas,CL,2021-04-11 02:19:24,-53.1500,-70.9167,48.20,66,40,25.32
2,2,East London,ZA,2021-04-11 02:23:40,-33.0153,27.9116,68.99,89,100,4.97
3,3,Tasiilaq,GL,2021-04-11 02:23:41,65.6145,-37.6368,30.20,55,30,4.61
4,4,Port Hedland,AU,2021-04-11 02:23:41,-20.3167,118.5667,91.40,55,58,10.36

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [19]:
# Heatmap of temperature
# get the latitude and longitude
locations = city_data_df[["Lat","Lng"]]

# get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

# Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0), zoom_level =1.5)

# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating = False,
                                max_intensity=300, point_radius=4)

# If not using for loop in max_temp
# heat_layer = gmaps.heatmap_layer(locations, weights =[max(temp,0) for temp in max_temp])

# Add the heatmap layer
fig.add_layer(heat_layer)

# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity

locations = city_data_df[["Lat","Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0,31.0), zoom_level =1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating = False,
                                max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent cloudiness

locations = city_data_df[["Lat","Lng"]]
clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0,31.0), zoom_level =1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating = False,
                                max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of wind speed

locations = city_data_df[["Lat","Lng"]]
wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0,31.0), zoom_level =1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating = False,
                                max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maxmimum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maxmimum temperature you would like for your trip?90

In [24]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Saint-Philippe,RE,2021-04-11 02:23:42,-21.3585,55.7679,77.00,78,0,5.75
9,9,Tual,ID,2021-04-11 02:23:42,-5.6667,132.7500,83.55,71,75,10.60
13,13,Rikitea,PF,2021-04-11 02:23:44,-23.1203,-134.9692,78.67,74,6,11.25
15,15,Faanui,PF,2021-04-11 02:19:24,-16.4833,-151.7500,82.53,70,59,7.45
22,22,Vaini,TO,2021-04-11 02:23:47,-21.2000,-175.2000,80.60,74,20,8.05
25,25,Marsh Harbour,BS,2021-04-11 02:22:51,26.5412,-77.0636,75.60,71,0,15.41
31,31,Mahebourg,MU,2021-04-11 02:23:50,-20.4081,57.7000,77.00,83,40,9.22
37,37,Salalah,OM,2021-04-11 02:20:37,17.0151,54.0924,78.80,78,40,4.61
38,38,Butaritari,KI,2021-04-11 02:23:51,3.0707,172.7902,82.20,75,100,8.97
41,41,Cockburn Town,TC,2021-04-11 02:23:52,21.4612,-71.1419,75.42,64,55,17.22

In [27]:
# check if there any null value in preferred_cities_df
preferred_cities_df.count()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp,
# and coordinates
hotel_df = preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
8   Saint-Philippe      RE     77.00 -21.3585   55.7679
9             Tual      ID     83.55  -5.6667  132.7500
13         Rikitea      PF     78.67 -23.1203 -134.9692
15          Faanui      PF     82.53 -16.4833 -151.7500
22           Vaini      TO     80.60 -21.2000 -175.2000
25   Marsh Harbour      BS     75.60  26.5412  -77.0636
31       Mahebourg      MU     77.00 -20.4081   57.7000
37         Salalah      OM     78.80  17.0151   54.0924
38      Butaritari      KI     82.20   3.0707  172.7902
41   Cockburn Town      TC     75.42  21.4612  -71.1419

In [39]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [42]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Saint-Philippe,RE,77.00,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
9,Tual,ID,83.55,-5.6667,132.7500,Grand Vilia Hotel
13,Rikitea,PF,78.67,-23.1203,-134.9692,Pension Maro'i
15,Faanui,PF,82.53,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
22,Vaini,TO,80.60,-21.2000,-175.2000,Keleti Beach Resort

In [45]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [47]:
# store the Dataframe row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [48]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))